Data
Models
Results
MainScripts/__pycache__
Libraries/__pycache__
.vscode
Hardcoded NN
MainScripts/Dataset Insights.ipynb
MainScripts/Test Diffusion.ipynb
Structure_Chart.ccd
MA Notes.docx
Structure_Chart.ccd
Hardcoded NN/functions.py
Hardcoded NN/MNIST.py
Hardcoded NN/NN.py

